@font-face {
    font-family: lobster;
    src: url('./fonts/Lobster-Regular.ttf');

    font-family: abel;
    src: url('./fonts/Abel-Regular.ttf');

    font-family: confortaa;
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf');

    font-family: tektur;
    src: url('./fonts/Tektur-VariableFont_wdth\,wght.ttf');
}